@font-face {
    font-family: 'TT Firs Neue';
    src: local('TT Firs Neue Regular'), local('TT-Firs-Neue-Regular'),
    url('TTFirsNeue-Regular/TTFirsNeue-Regular.woff2') format('woff2'),
    url('TTFirsNeue-Regular/TTFirsNeue-Regular.woff') format('woff'),
    url('TTFirsNeue-Regular/TTFirsNeue-Regular.ttf') format('truetype');
    font-weight: 400;
    font-style: normal;
}
body {
    background: #000000;
    margin: 0px;
    padding: 0px;
    overflow: hidden;
}
.prof-logo {
    position: absolute;
    width: 206.29px;
    left: 116.36px; 
    top: 32.76px;
}
li {
    list-style-type: none;
    line-height: 35px;
}
.prof-a1 {
    position: absolute;
    width: 214px;
    height: 59px;
    left: 109px;
    top: 164px;
    
    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 50px;
    line-height: 59px;
}
.prof-a2 {
    position: absolute;
    width: 228px;
    height: 35px;
    left: 105px;
    top: 260px;
    
    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 30px;
    line-height: 35px;
}
.prof-a3 {
    position: absolute;
    width: 200px;
    height: 35px;
    left: 119px;
    top: 329px;

    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 30px;
    line-height: 35px;
}
.prof-a4 {
    position: absolute;
    width: 181px;
    height: 35px;
    left: 129px;
    top: 402px;

    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 30px;
    line-height: 35px;

    color: #B0B0B0;
}
.prof-a5 {
    position: absolute;
    width: 323px;
    height: 35px;
    left: 58px;
    top: 472px;

    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 30px;
    line-height: 35px;
}
a {
    text-decoration: none;
    color: white;
}
.prof-line{
    margin: -430px;
    position: absolute;
    width: 857px;
    height: 0px;
    left: 439px;
    top: 832px;

    border: 5px solid rgba(194, 25, 217, 0.63);
    transform: rotate(-90deg);
}
.prof-nature {
    position: absolute;
    width: 460px;
    height: 258px;
    left: -11px;
    top: 495px;
}
.prof-purchase-history {
    position: absolute;
    width: 72px;
    height: 70px;
    left: 652px;
    top: 33px;
}
.prof-story {
    position: absolute;
    left: 750px;
    top: 25px;
}
.prof-container {
    color:white;
}
.prof-exit {
    position: absolute;
    width: 52px;
    height: 52px;
    left: 1450px;
    top: 26px;
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
}
.prof-info {
    position: absolute;
    width: 777px;
    height: 89px;
    left: 468px;
    top: 650px;

    font-style: normal;
    font-weight: normal;
    font-size: 20px;
    line-height: 23px;
}
.prof-tree {
    position: absolute;
    width: 54px;
    height: 83px;
    left: 1302px;
    top: 660px;
}
.prof-tree2 {
    position: absolute;
    width: 101px;
    height: 101px;
    left: 1336px;
    top: 644px;
}
.prof-Nameplate {
    position: absolute;
    width: 293.8px;
    height: 520.87px;
    left: 500px;
    top: 125px;   
}
.prof-Nameplate-pur {
    position: absolute;
    width: 293.8px;
    height: 69.33px;
    left: 500px;
    top: 125px; 
}
.prof-tarif1 {
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    width: 235px;
    height: 42px;
    font-style: normal;
    font-weight: bold;
    font-size: 36px;
    line-height: 42px;
    left: 525px;
    top: 100px; 
}
.prof-info1 {
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    width: 183px;
    height: 28px;
    font-style: normal;
    font-weight: bold;
    font-size: 24px;
    line-height: 28px;
    left: 555px;
    top: 180px;
    color: #5F1682;
}
.prof-and1 {
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    width: 23px;
    height: 25px;
    left: 635px;
    top: 235px;
}
.prof-info1-1 {
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    width: 217px;
    height: 28px;
    left: 540px;
    top: 245px;
    font-style: normal;
    font-weight: bold;
    font-size: 24px;
    line-height: 28px;
    color: #5F1682;
}
.prof-line2 {
    position: absolute;
    width: 289.07px;
    height: 0px;
    left: 500px;
    top: 307px;
    border: 2px solid #FFFFFF;
}
span {
    color: rgba(219, 0, 255, 0.7);
}
.prof-package {
    color: #5F1682;
    list-style-image: url(images/Ellipse\ 24.png);
    
}
.prof-tar1 {
    position: absolute;
    width: 203.13px;
    height: 42px;
    left: 559.87px;
    top: 339px;
    font-style: normal;
    font-weight: bold;
    font-size: 12px;
    line-height: 14px;
}
.prof-tar2 {
    position: absolute;
    width: 188.91px;
    height: 40px;
    left: 559.87px;
    top: 388px;
    font-style: normal;
    font-weight: bold;
    font-size: 12px;
    line-height: 14px;
}
.prof-tar3 {
    position: absolute;
    width: 181px;
    height: 14px;
    left: 559.87px;
    top: 430px;
    font-style: normal;
    font-weight: bold;
    font-size: 12px;
    line-height: 14px;
}
.prof-tar4 {
    position: absolute;
    width: 186px;
    height: 28px;
    left: 559.87px;
    top: 463px;
    font-style: normal;
    font-weight: bold;
    font-size: 12px;
    line-height: 14px;
    }
.prof-tree3 {
    position: absolute;
    /* width: 20px;
    height: 26px; */
    left: 725px;
    top: 448px;
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
}
.prof-tree4{
    position: absolute;
    left: 745px;
    top: 415px;
}
.prof-line3 {
    position: absolute;
    width: 289.07px;
    height: 0px;
    left: 500px;
    top: 509px;
    border: 2px solid #FFFFFF;
}
.prof-house {
    position: absolute;
    width: 256.42px;
    height: 142.87px;
    left: 513.82px;
    top: 512px;
}
.prof-bnk {
    display: flex;
    align-items: center;
    justify-content: center;
    align-content: space-around;
    flex-wrap: nowrap;
    width: 253.29px;
    height: 54.43px;
    background: rgba(219, 0, 255, 0.7);
    position: absolute;
    width: 195px;
    height: 42px;
    left: 545px;
    top: 578px;
}
.prof-text {
    font-size: 40px;
    line-height: 47px;
    font-style: normal;
    font-weight: normal; 
    color: #FFFFFF;
}
/* Вторая табличка*/
.prof-Nameplate2 {
    position: absolute;
    width: 293.8px;
    height: 520.87px;
    left: 815px;
    top: 125px;
}
.prof-Nameplate-pur2 {
    position: absolute;
    width: 293.8px;
    height: 69.33px;
    left: 815px;
    top: 125px;
}
.prof-tarif2 {
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    width: 235px;
    height: 42px;
    font-style: normal;
    font-weight: bold;
    font-size: 36px;
    line-height: 42px;
    left: 845px;
    top: 102px; 
}
.prof-info2 {
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    width: 183px;
    height: 28px;
    font-style: normal;
    font-weight: bold;
    font-size: 24px;
    line-height: 28px;
    left: 871px;
    top: 180px;
    color: #5F1682;
}
.prof-and2 {
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    width: 23px;
    height: 25px;
    left: 951px;
    top: 235px;
}
.prof-info2-2 {
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    width: 217px;
    height: 28px;
    left: 856px;
    top: 245px;
    font-style: normal;
    font-weight: bold;
    font-size: 24px;
    line-height: 28px;
    color: #5F1682;
}
.prof-line4 {
    position: absolute;
    width: 289.07px;
    height: 0px;
    left: 816px;
    top: 307px;
    border: 2px solid #FFFFFF;
}
.prof-package2 {
    color: #5F1682;
    list-style-image: url(images/Ellipse\ 24.png);
}
.prof-tar5 {
    position: absolute;
    width: 209px;
    height: 14px;
    left: 875.87px;
    top: 339px;
    font-style: normal;
    font-weight: bold;
    font-size: 12px;
    line-height: 14px;
}
.prof-tree5 {
    position: absolute;
    /* width: 20px;
    height: 26px; */
    left: 1041px;
    top: 448px;
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
}
.prof-tree6{
    position: absolute;
    left: 1061px;
    top: 415px;
}
.prof-line5 {
    position: absolute;
    width: 289.07px;
    height: 0px;
    left: 816px;
    top: 509px;
    border: 2px solid #FFFFFF;
}
.prof-house2 {
    position: absolute;
    width: 256.42px;
    height: 142.87px;
    left: 829.82px;
    top: 512px;
}
.prof-bnk2 {
    display: flex;
    align-items: center;
    justify-content: center;
    align-content: space-around;
    flex-wrap: nowrap;
    width: 253.29px;
    height: 54.43px;
    background: rgba(219, 0, 255, 0.7);
    position: absolute;
    width: 195px;
    height: 42px;
    left: 861px;
    top: 578px;
}
.prof-text2 {
    font-size: 40px;
    line-height: 47px;
    font-style: normal;
    font-weight: normal; 
    color: #FFFFFF;
}
.prof-tree7 {
    position: absolute;
    left: 840px;
    top: 444px;
}
/*Третья карточка*/
.prof-Nameplate3 {
    position: absolute;
    width: 293.8px;
    height: 520.87px;
    left: 1131px;
    top: 125px;
}
.prof-Nameplate-pur3 {
    position: absolute;
    width: 293.8px;
    height: 69.33px;
    left: 1131px;
    top: 125px;
}
.prof-tarif3 {
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    width: 235px;
    height: 42px;
    font-style: normal;
    font-weight: bold;
    font-size: 36px;
    line-height: 42px;
    left: 1161px;
    top: 102px; 
}
.prof-info3 {
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    width: 290px;
    height: 101px;
    font-style: normal;
    font-weight: normal;
    font-size: 12px;
    line-height: 14px;
    text-align: center;
    left: 1133px;
    top: 180px;
    color: #5F1682;
}
.prof-line6 {
    position: absolute;
    width: 289.07px;
    height: 0px;
    left: 1132px;
    top: 307px;
    border: 2px solid #FFFFFF;
}
.prof-tar6 {
    position: absolute;
    width: 209px;
    height: 14px;
    left: 1178.87px;
    top: 339px;
    font-style: normal;
    font-weight: bold;
    font-size: 12px;
    line-height: 14px;
}
.prof-tar7 {
    position: absolute;
    width: 209px;
    height: 14px;
    left: 1178.87px;
    top: 388px;
    font-style: normal;
    font-weight: bold;
    font-size: 12px;
    line-height: 14px;
}
.prof-tar8 {
    position: absolute;
    width: 213px;
    height: 98px;
    left: 1178.87px;
    top: 430px;
    font-style: normal;
    font-weight: bold;
    font-size: 12px;
    line-height: 14px;
}
.prof-tree7 {
    position: absolute;
    /* width: 20px;
    height: 26px; */
    left: 1357px;
    top: 448px;
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
}
.prof-tree8 {
    position: absolute;
    left: 1377px;
    top: 415px;
}
.prof-line7 {
    position: absolute;
    width: 289.07px;
    height: 0px;
    left: 1132px;
    top: 509px;
    border: 2px solid #FFFFFF;
}
.prof-house3 {
    position: absolute;
    width: 256.42px;
    height: 142.87px;
    left: 1145.82px;
    top: 512px;
}
.prof-bnk3 {
    display: flex;
    align-items: center;
    justify-content: center;
    align-content: space-around;
    flex-wrap: nowrap;
    width: 253.29px;
    height: 54.43px;
    background: rgba(219, 0, 255, 0.7);
    position: absolute;
    width: 195px;
    height: 42px;
    left: 1177px;
    top: 578px;
}
.prof-text3 {
    font-size: 40px;
    line-height: 47px;
    font-style: normal;
    font-weight: normal; 
    color: #FFFFFF;
}