@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;500&display=swap');
body {
    margin: 0;
    padding: 0;
    color: white;
    font-family: Roboto;
}
li {
    list-style: none;
}
ul {
    margin: 0;
}
.NavBtn {
    width: 1200px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
nav {
    display: flex;
    justify-content: space-around;
    padding: 15px;
    font-size: 20px;
}
.big {
    font-size: 30px;
    margin-right:80px;
    margin-left: 30px;
    font-family: Roboto;
    font-weight: 500;
}
.gray {
    color: gray;
}
.mini {
    position: relative;
    left: -35px;
    top: 55px;
}
.main {
    background: white;
    color: black;
    height: 40px;
    width: 100px;
    font-size: 30px;
    font-weight: 600;
    text-align: center;
    outline: none;
    border-radius: 0.5rem;
    border: none;
    cursor: pointer;

}
header {
    border-bottom: 5px solid rgba(194, 25, 217, 0.65);
    height: 880px;
    width: 100%;
    background: linear-gradient(rgba(0,0,0,10), rgba(79, 7, 88, 10));
    background-repeat: no-repeat;
    background-size: contain;
}
::-webkit-scrollbar {
    width: 0;
}
.logo {
    height: 80px;
    width: 80px;
    border-radius: 50%;
    background: white;
    text-align: center;
}
p{
    margin: 0;
}