@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;500&display=swap');
body {
    margin: 0;
    padding: 0;
    color: white;
    font-family: Roboto;
}
li {
    list-style: none;
}
ul {
    margin: 0;
}
.NavBtn {
    width: 1200px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
nav {
    display: flex;
    justify-content: space-around;
    padding: 15px;
    font-size: 25px;
}
.big {
    font-size: 30px;
    margin-right:80px;
    margin-left: 30px;
    font-family: Roboto;
    font-weight: 500;
}
.gray {
    color: gray;
}
.mini {
    position: relative;
    left: -35px;
    top: 55px;
}
.main {
    background: white;
    color: black;
    height: 40px;
    width: 100px;
    font-size: 30px;
    font-weight: 600;
    text-align: center;
    outline: none;
    border-radius: 0.5rem;
    border: none;
    cursor: pointer;

}
header {
    border-bottom: 5px solid rgba(194, 25, 217, 0.65);
    height: 880px;
    width: 100%;
    background: linear-gradient(rgba(0,0,0,10), rgba(79, 7, 88, 10));
    background-repeat: no-repeat;
    background-size: contain;
}
::-webkit-scrollbar {
    width: 0;
}
.logo {
    height: 80px;
    width: 80px;
    border-radius: 50%;
    background: white;
    text-align: center;
}
p{
    margin: 0;
}
a {
    text-decoration:none;
    color: white;
}
.delivery {
    display: flex;
    text-align: center;
    justify-content: space-between;
    flex-direction: column;
    border-bottom: 5px solid #C219D9;
    height: 900px;
    width: 100%;
    background-color: black;
}
.deliveryH {
    margin: 48px;
    font-family: Roboto;
    font-style: normal;
    font-weight: bold;
    font-size: 60px;
}
.deliveryB {
    width: 100%;
    height: 80px;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
}
.deliveryBtn {
    width: 394px;
    height: 70px;
    background: #DB00FF;
    border-radius: 10px;
    font-family: Roboto;
    font-style: normal;
    font-weight: bold;
    font-size: 40px;
}
.deliveryI {
    position: absolute;
    width: 88px;
    height: 88px;
    left: 75%;
    top: 1%;
}
.deliveryIm {
    position: absolute;
    width: 58px;
    height: 58px;
    left: 72%;
    top: 65%;
}
.deliveryImg {
    position: absolute;
    width: 58px;
    height: 58px;
    left: 32%;
    top: -25%;
}
.deliveryZum {
    height: 593px;
    width: 1054px;
    background-position-y: 35px;
    background-repeat: no-repeat;
    background-image: url("imgs/zumers.png");
    margin: 0 auto;
}
.bot-form{
    position: fixed;
    bottom: 0px;
    right: 20px;
    height: 480px;
    width: 350px;
    background-color: #110101;
    background: url(imgs/form-background.jpg) center;
    background-size: cover;
    z-index: 9999900;
    color: #fff;
    /* overflow: auto; */
    border-top-right-radius: 40px;
    border-top-left-radius: 10px;
    transition: all 1s;
}
.bot-header{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    height: 40px;
    position: relative;
    top: -10px;
    
}
.bot-img{
    height: 50px;
    width: 50px;
    background: url(imgs/bot-nikita.jpg) center;
    background-size: cover;
    border-radius: 50%;
}

.close-bot{
    height: 20px;
    width: 20px;
    background-color: rgb(150, 150, 221);
    border-radius: 50%;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    margin: 4px;
    cursor: pointer;
    background: url(imgs/close.jpg) center;
    background-size: cover;

}
.bot-answer{
    font-size: 18px;
}
.bot-name2{
    background-color: #7F1D8D;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 5px;
}
.bot-content{
    height: 280px;
    width: 94.5%;
    overflow: auto;
    padding: 10px;
    font-size: 14px;
    line-height: 20px;
    margin: 0;
}
::-webkit-scrollbar{
    display: none;
}
.bot-message{
    height: auto;
    word-wrap: break-word;
    float: left;
    background-color:#7F1D8D;
    width: 70%;
    margin-bottom: 20px;
    margin-right: 0px;
    border-radius: 12px;
    border-bottom-left-radius: 0px;
    padding: 10px;
}
.bot-inputarea{
    width: 100%;
    height: 80px;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 20px;
}
.bot-input{
    height: 60px;
    width: 80%;
    border-radius: 12px;
    outline: none;
    border: none;
    padding: 5px;
    background-color: #53115C;
    color: #fff;
    opacity: 92%;
    border-bottom: 2px solid rgba(194, 25, 217, 0.63);
}
.bot-btn{
    position: absolute;
    height: 40px;
    width: 40px;
    border-radius: 50%;
    outline: none;
    border: none;
    cursor: pointer;
    right: 40px;
    background: url(imgs/dino.jpg) center;
    background-size: cover;
}
.bot-help{
    text-decoration: underline;
}
.show-bot{
    position: fixed;
    border-radius: 50%;
    height: 70px;
    width: 70px;
    background-color: royalblue;
    background: url(imgs/bot-nikita.jpg) center;
    background-size: cover;
    right: -100px;
    bottom: 100px;
    transition: all 2s;
    cursor: pointer;
    z-index: 120;
}

.PopularRates {
    background: linear-gradient(to bottom, #710E7D, #000000);
    width: 100%;
    height: 822px;
    overflow: hidden;
}
.Tmpr {
    text-align: center;
    padding-top: 93px;
    padding-bottom: 101px;

}
.danya-h1{
    margin: 0;
     font-size: 432%;
     color: #fff;
}
.cards {
    text-align: center;
    top: -850px;
    position: relative;
}
.card {
    margin: 0 25.5px;
    width: 21.3%;
    height: 519px;
    background: #C4C4C4;
    display: inline-block;
    z-index: 5;
    
}
.cardTop {
    height: 69px;
    background-color: #fff;
}
.venikLeft {
    position: relative; 
    width: 149.13px;
    height: 571.46px;
    transform: matrix(-1, 0.02, 0.02, 1, 0, 0);

}
.venikRight {
    position: relative;
    width: 149.13px;
    height: 571.46px;
    transform: matrix(-1, 0.02, 0.02, 1, 0, 0);
    right: -610px;
}
.venikSmall {
    position: relative;
    width: 94.56px;
    height: 362.35px;
    top: 200px;
    transform: matrix(-1, 0.02, 0.02, 1, 0, 0);
    right: 70px;
}
.veniks{
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: space-between;
    z-index: 4;
    gap: 250px;
}
.cardBottom {
    position: absolute;
    width: 21.3%;
}
.backFoto {
    position: relative;
    width: 100%;
    /* bottom: -250px; */
}

