@font-face {
    font-family: 'TT Firs Neue';
    src: local('TT Firs Neue Regular'), local('TT-Firs-Neue-Regular'),
    url('TTFirsNeue-Regular/TTFirsNeue-Regular.woff2') format('woff2'),
    url('TTFirsNeue-Regular/TTFirsNeue-Regular.woff') format('woff'),
    url('TTFirsNeue-Regular/TTFirsNeue-Regular.ttf') format('truetype');
    font-weight: 400;
    font-style: normal;
}
body {
    font-family: 'TT Firs Neue', sans-serif;
    margin: 0;
    padding: 0;
    color: white;
    min-width: 1920px
}
.body{
    overflow: hidden;
}
nav {
    display: flex;
    justify-content: space-around;
    padding: 15px;
    font-size: 25px;
    position: relative;
}
header {
    border-bottom: 5px solid #C219D9;
    height: 870px;
    width: 100%;
    background: linear-gradient(rgba(0, 0, 0, 10), rgba(79, 7, 88, 10));
    background-size: contain;
}
footer{
    height: 200px;
    width: 100%;
    background: linear-gradient(rgba(0,0,0,1), rgba(113, 14, 125, 1));
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: relative;
    padding: 0 10rem;
    box-sizing: border-box;
}
a {
    text-decoration: none;
    color: white;
}
li {
    list-style: none;
}
ul, p, h1  {
    margin: 0;
}
button {
    outline: none;
    border: none;
    background: #DB00FF;
    border-radius: 10px;
    width: 500px;
    height: 70px;
    font-size: 60px;
    text-align: center;
    cursor: pointer;
}
input {
    outline: none;
    border: none;
}
.nav__ul {
    width: 1200px;
    display: flex;
    justify-content: space-around;
    align-items: center;
}
.nav_tele {
    font-size: 30px;
    margin-right: 80px;
    margin-left: 30px;
    font-weight: 500;
}
.prof__soon, .nav__link, .bot-input::placeholder {
    color: #A1A1A1;
}
.nav__miniTree {
    position: absolute;
    right: 6%;
    top: 60%;
    height: 50px;
}
.nav__bigTree {
    position: absolute;
    right: 7.5%;
    top: 15%;
    height: 80px;
}
.navBtn {
    background: white;
    color: black;
    height: 40px;
    width: 100px;
    font-size: 30px;
    font-weight: 600;
    text-align: center;
    outline: none;
    border-radius: 0.5rem;
    border: none;
    cursor: pointer;
}
.logo {
    height: 80px;
    width: 80px;
    border-radius: 50%;
    background: white;
    text-align: center;
    display: flex;
    align-items: center;
}
.logo>img {
    height: 80px;
}
/*БАННЕР*/
.banner__block {
    width: 100%;
    height: calc(100% - 110px);
    display: flex;
    justify-content: center;
    position: relative;
}
.banner__text {
    background: rgba(194, 25, 217, 0.3);
    height: 400px;
    width: 700px;
    font-size: 60px;
    padding: 25px;
    position: absolute;
    top: 17%;
    left: 18%;
}
.banner__laptop {
    position: absolute;
    bottom: -4.5%;
    left: 28%;
}
/*САМЫЕ ПОПУЛЯРНЫЕ ТАРИФЫ*/
.popular {
    background: radial-gradient(169.99% 169.99% at 50% -69.99%, #710E7D 0%, #000000 100%) no-repeat;
    width: 100%;
    height: 822px;
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    border-bottom: 5px solid #C219D9;
}
.popular__text {
    font-size: 50px;
}
.popular__cards {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 200px;
}
.popular__card {
    width: 280px;
    height: 514px;
    background: #C4C4C4;
    position: relative;
}
.popular__cardTop {
    height: 69px;
    background-color: #fff;
}
.popular__fhoto {
    position: absolute;
    width: 100%;
}
.popular__venikLeft {
    position: absolute;
    left: 2%;
    bottom: 0;
}
.popular__venikRight {
    position: absolute;
    right: 2%;
    bottom: 0;
}
.popular__venikSmall {
    position: absolute;
    width: 95px;
    height: 362px;
    bottom: 0;
    right: 8%;
}
/*ДОСТАВКА*/
.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    border-bottom: 5px solid #C219D9;
    height: 840px;
    width: 100%;
    background-color: black;
    position: relative;
}
.container__text {
    padding: 3rem 0;
    font-style: normal;
    font-weight: bold;
    font-size: 60px;
}
.container__btn {
    line-height: 70px;
    width: 394px;
    height: 70px;
    background: #DB00FF;
    border-radius: 10px;
    font-weight: bold;
    font-size: 60px;
}
.delivery__treeRight {
    position: absolute;
    width: 88px;
    height: 88px;
    top: 18%;
    right: 33%;
}
.delivery__treeSmall {
    position: absolute;
    width: 58px;
    height: 58px;
    top: 26%;
    right: 36%;
}
.delivery__treeLeft {
    position: absolute;
    width: 58px;
    height: 58px;
    top: 16%;
    left: 36%;
}
.delivery__zumers {
    position: absolute;
    bottom: -4.1%;
}
/*МЕРЧ*/
.merch {
    background: radial-gradient(169.99% 169.99% at 50% -69.99%, #710E7D 0%, #000000 100%) no-repeat;
    position: relative;
    height: 805px;
}
.merch__gerlanda {
    position: absolute;
    top: 0;
    right: 0;
}
.merch__treeLeft {
    position: absolute;
    width: 90px;
    top: 6%;
    left: 34%;
}
.merch__treeSmall {
    position: absolute;
    width: 58px;
    top: 14%;
    left: 37%;
}
.merch__treeRight {
    position: absolute;
    width: 58px;
    top: 24%;
    right: 36%;
}
.merch__nogi {
    position: absolute;
    bottom: -4%;
}
/*БАНК*/
.bank{
    background-color: #000000;
    position: relative;
    width: 100%;
    height: 900px;
}
.bank__btn {
    width: 503px;
}
.bank__treeLeft {
    position: absolute;
    width: 88px;
    left: 31%;
    top: 17%;
}
.bank__treeLeftSmall {
    position: absolute;
    width: 58px;
    left: 34%;
    top: 26%;
}
.bank__treeRight {
    position: absolute;
    width: 73px;
    right: 33%;
    top: 25%;
}
.bank__treeSmall {
    position: absolute;
    width: 66px;
    right: 30.5%;
    top: 19%;
}
.bank__treeRightSmall {
    position: absolute;
    width: 58px;
    right: 33%;
    top: 15%;
}
.bank__money {
    position: absolute;
    bottom: -3.8%;
}
/*FOOTER*/
.footer__dino {
    position: absolute;
    right: 1.5%;
    top: 28%;
}
.footer__tree {
    position: absolute;
    left: 1.5%;
    top: 17%;
    height: 130px;
}
.footer__info {
    line-height: 1.5rem;
}
.footer__link {
    color: #DB00FF;
}
.footer__copy {
    align-self: flex-end;
    padding: 3.5rem 0;
}
/*POPUP*/
.popup {
    position: fixed;
    width: 900px;
    height: 400px;
    background-color: rgba(255, 255, 255, 0.4);
    border-radius: 15px;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    display: none;
    z-index: 1;
}
.popup--show {
    display: flex;
    justify-content: center;
    align-items: center;
    animation: bounce .6s;
}
.popup::after {
    content: "";
    position: absolute;
    width: 80px;
    height: 80px;
    background-color: #ffffff;
    border-radius: 50%;
    transform: translate(-50%, -50%);
    left: 50%;
    top: 50%;
}
.popup::before {
    content: "";
    position: absolute;
    background-image: url("imgs/popup/dinoFIXED.png");
    width: 81px;
    height: 76px;
    z-index: 1;
    background-repeat: no-repeat;
    background-size: 83%;
}
.popup__close {
    position: absolute;
    top: 10px;
    right: 10px;
    width: 37px;
    height: 37px;
    background: #000000;
    border-radius: 50%;
    cursor: pointer;
}
.popup__close:hover {
    background: #242323;
}
.popup__close::before, .popup__close::after {
    position: absolute;
    top: 2px;
    right: 17px;
    content: '';
    height: 33px;
    width: 2px;
    background-color: #ffffff;
}
.popup__close::before {
    transform: rotate(45deg);
}
.popup__close::after {
    transform: rotate(-45deg);
}
.form {
    background: #000000;
    border-radius: 15px;
    width: 368px;
    height: 300px;
    color: #ffffff;
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
    margin-right: 50px;
}
.form--sign-up::before {
    content: "";
    position: absolute;
    background-image: url("imgs/popup/post-office.svg");
    width: 40px;
    height: 65px;
    bottom: 10px;
    left: 10px;
}
.form--sign-up::after {
    content: "";
    position: absolute;
    background-image: url("imgs/popup/trees.svg");
    width: 49px;
    height: 104px;
    bottom: 10px;
    right: 1px;
}
.form--sign-in::before {
    content: "";
    position: absolute;
    background-image: url("imgs/popup/two-tree-form.svg");
    width: 76px;
    height: 62px;
    bottom: 10px;
    left: 4px;
}
.form--sign-in::after {
    content: "";
    position: absolute;
    background-image: url("imgs/popup/tree.png");
    background-repeat: no-repeat;
    background-size: 90%;
    width: 45px;
    height: 45px;
    top: 60px;
    right: 1px;
}
.form__box {
    padding: 1rem 0;
    height: 190px;
    align-items: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.form:last-child {
    margin-right: 0;
}
.form__title {
    font-weight: bold;
    font-size: 30px;
    line-height: 35px;
    margin-top: 5px;
    margin-bottom: 20px;
}
.form__title::after {
    content: "";
    width: 100%;
    height: 3px;
    position: absolute;
    right: 0;
    top: 45px;
    background-color: #ffffff;
}
.visually-hidden {
    position: absolute;
    clip: rect(0 0 0 0);
    width: 1px;
    height: 1px;
    margin: -1px;
}
.form__title--sign-in::before {
    content: "&";
    font-size: 30px;
    right: 368px;
    top: 136px;
    z-index: 1;
    position: absolute;
    color: #000000;
}
.form__input {
    background-color: rgba(218, 25, 243, 0.7);
    border-radius: 3px;
    width: 252px;
    height: 42px;
    margin-bottom: 14px;
    border-bottom: 5px solid #ed8ef9;
    color: #ffffff;
    font-size: 20px;
    padding: 0 .5rem;
}
.form__input::placeholder {
    color: #ffffff;
}
.form__btn {
    height: 42px;
    width: 230px;
    border: none;
    background-color: rgba(218, 25, 243, 0.7);
    color: #ffffff;
    text-transform: uppercase;
    cursor: pointer;
    border-radius: 30px;
    font-size: 19px;
}
.form__btn2 {
    font-size: 16px;
}
.form__btn:hover {
    background-color: #53115C;
}
/*БОТ*/
.bot-form {
    position: fixed;
    bottom: 0;
    right: 20px;
    height: 480px;
    width: 350px;
    background: url(imgs/bot/form-background.jpg) center;
    background-size: cover;
    z-index: 9999900;
    color: #fff;
    /* overflow: auto; */
    border-top-right-radius: 40px;
    border-top-left-radius: 10px;
    transition: all 0.5s;
}
.bot-header {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    height: 40px;
    position: relative;
    top: -10px;
    padding: 30px
}
.bot-img {
    height: 50px;
    width: 50px;
    background: url(imgs/bot/black-dino-white.png) center;
    background-size: cover;
    border-radius: 50%;
}
.close-bot {
  position: relative;
  top: -20px;
  left: -20px;
    height: 20px;
    width: 20px;
    border-radius: 50%;
    
    cursor: pointer;
    background: url(imgs/bot/icon_cross.png) center;
    background-size: cover;
}
.bot-answer {
    font-size: 18px;
    /* border-bottom: 2px solid rgba(194, 25, 217, 0.63); */
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
    padding: 4px;
    margin: 6px;
}
.bot-name-area{
  border: 2px solid #7F1D8D;
  border-radius: 5px;
  padding: 2px;
}
.bot-name2 {
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 5px;
    
}
.bot-content {
    height: 280px;
    width: 94.5%;
    overflow: auto;
    padding: 10px;
    font-size: 14px;
    line-height: 20px;
    margin: 0;
}
.bot-message {
    height: auto;
    word-wrap: break-word;
    float: left;
    background-color: #7F1D8D;
    width: 70%;
    margin-bottom: 20px;
    margin-right: 0;
    border-radius: 12px 12px 12px 0;
    padding: 10px;
}
.bot-inputarea {
    width: 100%;
    height: 80px;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 20px;
}
.bot-input {
    height: 60px;
    width: 80%;
    border-radius: 12px;
    outline: none;
    border: none;
    padding: 5px;
    background-color: #53115C;
    color: #fff;
    opacity: 92%;
    border-bottom: 2px solid rgba(194, 25, 217, 0.63);
}
.bot-btn {
    position: absolute;
    height: 40px;
    width: 40px;
    border-radius: 50%;
    outline: none;
    border: none;
    cursor: pointer;
    right: 40px;
    background: url(imgs/bot/tree.png) center no-repeat;
    background-size: contain;
}
.bot-help {
    text-decoration: underline;
}
.show-bot {
    position: fixed;
    border-radius: 50%;
    height: 70px;
    width: 70px;
    /*background-color: royalblue;*/
    background: url(imgs/bot/bot-nikita.jpg) center;
    background-size: cover;
    right: -100px;
    bottom: 100px;
    transition: all 1s;
    cursor: pointer;
    z-index: 120;
    animation: 4s scale infinite
}
@keyframes scale{
  0%{
    transform: scale(1)
  }
  25%{
    transform: scale(1.2)
  }
  50%{
    transform: scale(1)
  }
  75%{
    transform: scale(1.2)
  }
  100%{
    transform: scale(1)
  }
  

}
@keyframes bounce {
    0% {
        transform: translate(-50%, 100%);
    }

    100% {
        transform: translate(-50%, -50%);
    }
}
/*ПРОФИЛЬНАЯ СТРАНИЦА*/
.prof__main {
    background: #000000;
    width: 100%;
    height: 1100px;
    position: relative;
    display: flex;
}

.prof__btn-exit {
    background-color: #da19f3;
    font-size: 22px;
    opacity: 0.7;
    border-radius: 5px;
    padding: 3px 20px;
    position: absolute;
    right: 10px;
    top: 5px;
}

.prof__btn-exit:hover {
    opacity: 1;
}

.prof__left {
    width: 35%;
    display: flex;
    align-items: center;
    flex-direction: column;
    gap: 5rem;
    position: relative;
    border-right: 5px solid rgba(194, 25, 217, .63);
}
.prof__right {
    width: 75%;
	padding: 50px;
}
.prof__right_bottom {
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.prof-logo {
    width: 200px;
    padding: 2rem 0 0;
}
.prof__list {
    line-height: 5rem;
    font-size: 30px;
    text-align: center;
}
.prof__file {
    font-size: 50px;
    font-weight: 500;
}
.prof__img-left {
    position: absolute;
    bottom: 0;
}
.prof__right {
}
.prof__header {
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    padding-top: 43px;
    box-sizing: border-box;
}
.prof__header-capital {
    font-size: 40px;
}
.prof__a-back {
    border-radius: 50%;
    width: 40px;
    height: 40px;
    position: absolute;
    top: 30px;
    right: 50px;
}
.prof__img-back {
    width: 40px;
    height: 40px;
}
.prof__btn-go {
    width: 190px;
    height: 60px;
    font-size: 30px;
    font-weight: bold;
}
.prof-card {
    width: 100%;
    height: 822px;
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
}
.prof-card__text {
    font-size: 50px;
}
.prof-card__cards {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 40px;
}
.prof-card__card {
    width: 400px;
    height: 650px;
    background: #C4C4C4;
    position: relative;
}
.prof-card__cardTop {
    height: 69px;
    background-color: #fff;
}
.prof-card__fhoto {
    position: absolute;
    width: 100%;
}
.prof__footer {
    width: 100%;
    height: 150px;
    padding-left: 80px;
    box-sizing: border-box;
    position: relative;
}
.prof-text {
    width: 1000px;
    font-size: 20px;
    position: absolute;
    bottom: 30%;
}
.prof-tree-big {
    position: absolute;
    right: 100px;
    bottom: 10px;
}
.prof-tree-small {
    position: absolute;
    right: 180px;
    width: 90px;
    height: 90px;
    bottom: 10px;
}
.prof__history {
    padding-right: 10px;
}
/*Инфо*/
.info-header {
    height: 540px;
}
.info__header {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 5rem 10rem;
    position: relative;
}
.info__header-tree {
    right: -2%;
    transform: rotate(-10deg);
    position: absolute;
}
.info__header-treeRight {
    right: -2%;
    bottom: -22%;
    transform: rotate(-10deg);
    position: absolute;
}
.info__header-treeLeft {
    position: absolute;
    left: -2%;
    bottom: 0;
    transform: rotate(20deg);
}
.info__captions {
    font-size: 50px;
    margin-bottom: 2rem;
}
.info__calls {
    width: 100%;
    height: 850px;
    background: radial-gradient(169.99% 169.99% at 50% -69.99%, #710E7D 0%, #000000 100%) no-repeat;
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    border-bottom: 5px solid #C219D9;
    text-align: left;
    padding: 0 5rem;
    box-sizing: border-box;
    line-height: 2.5rem;
}
.info__captions-capital {
    padding: 2rem;
    text-decoration: underline #C4C4C4;
}
.info-black {
    background: black;
    height: 1000px;
}
.info-black__next {
    height: 1200px;
}
.info__calls-tree {
    position: absolute;
    bottom: 0;
    right: -1%;
}
.info__calls-treeRight {
    position: absolute;
    bottom: 22%;
    right: -2.5%;
}
.info__calls-partners {
    height: 700px;
}
.info__cup {
    position: absolute;
    bottom: 0;
    right: 0;
}
.info__calls-balance {
    height: 2400px;
}
.info__calls-allin {
    height: 1200px;
}
.error {color:orangered}
.success {color:greenyellow}
