@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;500&display=swap');
body {
    margin: 0;
    padding: 0;
    color: white;
    font-family: Roboto;
}
li {
    list-style: none;
}
ul {
    margin: 0;
}
.NavBtn {
    width: 1200px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
nav {
    display: flex;
    justify-content: space-around;
    padding: 15px;
    font-size: 25px;
}
.big {
    font-size: 30px;
    margin-right:80px;
    margin-left: 30px;
    font-family: Roboto;
    font-weight: 500;
}
.gray {
    color: gray;
}
.mini {
    position: relative;
    left: -35px;
    top: 55px;
}
.main {
    background: white;
    color: black;
    height: 40px;
    width: 100px;
    font-size: 30px;
    font-weight: 600;
    text-align: center;
    outline: none;
    border-radius: 0.5rem;
    border: none;
    cursor: pointer;

}
header {
    border-bottom: 5px solid rgba(194, 25, 217, 0.65);
    height: 880px;
    width: 100%;
    background: linear-gradient(rgba(0,0,0,10), rgb(79, 7, 88));
    background-repeat: no-repeat;
    background-size: contain;
}
::-webkit-scrollbar {
    width: 0;
}
.logo {
    height: 80px;
    width: 80px;
    border-radius: 50%;
    background: white;
    text-align: center;
}
p{
    margin: 0;
}
a {
    text-decoration:none;
    color: white;
}
.delivery {
    display: flex;
    text-align: center;
    flex-direction: column;
    height: 900px;
    width: 100%;
    background-color: black;
}
.deliveryH {
    margin: 48px;
}
.deliveryB {
    width: 100%;
    height: 80px;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
}
.deliveryBtn {
    width: 394px;
    height: 70px;
    background: #DB00FF;
    border-radius: 10px;
    font-family: Roboto;
    font-style: normal;
    font-weight: bold;
    font-size: 40px;
}
.deliveryI {
    position: absolute;
    width: 88px;
    height: 88px;
    left: 1200px;
    top: 10px;
}
.deliveryIm {
    position: absolute;
    width: 58px;
    height: 58px;
    left: 1150px;
    top: 60px;
}
.deliveryImg {
    position: absolute;
    width: 58px;
    height: 58px;
    left: 700px;
    top: -40px;
}
.deliveryZum {
    width: 1200px;
    margin: 0 auto;
}